<a href="https://colab.research.google.com/github/Poojitha-raj/GEN-AI/blob/main/GEN_AI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num=float(input("enter a number :"))
sqrt =num**0.5
print('The square root of %0.3f is %0.3f'%(num ,sqrt))

enter a number :36
The square root of 36.000 is 6.000

In [2]:
x = 5
y = 10

temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

In [3]:
num=float(input("enter a number:"))
if num>0:
    print("positive number")
elif num==0:
    print("zero")
else:
    print("negative number")

enter a number:5
positive number

In [4]:
num=float(input("enter a number:"))
if num%2==0:
  print("even number")
else:
  print("odd number")

enter a number:32
even number

In [5]:
num=int(input("enter a number:"))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("Factorial of", num, "is", factorial)

enter a number:8
Factorial of 8 is 40320

In [6]:
str='ahiha'
str=str.casefold()
rev_str=reversed(str)
if list(str)==list(rev_str):
  print("the string is palindrome")
else:
  print("the string is not palindrome")

the string is palindrome

In [8]:
import pandas as pd
data={'Name' : ['ram' ,'bob' ,'alice'],
      'Age' : ['25', '44', '13'],
      'city' : ['london','paris','new york'] }
df=pd.DataFrame(data)
print(df)

    Name Age      city
0    ram  25    london
1    bob  44     paris
2  alice  13  new york

In [9]:
df["Age"]

0    25
1    44
2    13
Name: Age, dtype: object

In [10]:
df['Age']=pd.to_numeric(df['Age'])
df[df["Age"]>25]

  Name  Age   city
1  bob   44  paris

In [11]:
def AND_gate (a,b,c):
  return a and b and c
  inputs = [ (0,0,0),(0,0,1),(0,1,0),(0,1,1),(1,0,0),(1,0,1),(1,1,0),(1,1,1)
  ]
  print("A B C | output")
  print("_____________")
  for a,b,c in inputs:
    print(f"{a} {b} {c} | {int (AND_gate(a,b,c))}")